/* Layout
   ----------------------------------------------------------------- */
@use "../global" as *;

.l-main {
  padding-top: 60px;

  @include media-up(lg) {
    padding-top: 80px;
  }
}

.l-page {
  padding-top: 40px;
  padding-bottom: 40px;
  background: $color-primary-bg;

  @include media-up(lg) {
    padding-top: 80px;
    padding-bottom: 136px;
  }

  .l-page__container {
    padding-bottom: 32px;
    margin-top: 36px;
    background: $color-white;

    @include media-up(lg) {
      padding-bottom: 128px;
      margin-top: 72px;
    }
  }

  .l-page__breadcrumb {
    padding: 18px;

    @include media-up(lg) {
      padding: 36px;
    }
  }

  .l-page__title {
    .en {
      font-family: $font-sans-en;
      font-size: 12px;
      font-weight: bold;
      line-height: 1;
      color: $color-primary;
      text-transform: uppercase;
      letter-spacing: 0.075em;

      @include media-up(md) {
        font-size: 16px;
      }
    }

    .ja {
      margin-top: 2px;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.15em;

      @include media-up(md) {
        margin-top: 4px;
        font-size: 26px;
      }
    }
  }
}
